[submodule "bitcoin"]
	path = bitcoin
	url = https://github.com/w0xlt/gui
[submodule "btcdeb"]
	path = btcdeb
	url = https://github.com/bitcoin-core/btcdeb
[submodule "btc-rpc-explorer"]
	path = btc-rpc-explorer
	url = https://github.com/janoside/btc-rpc-explorer
